{{!-- Login Form --}}

<h1 id="login-header">Xspency</h1>

<form class="login">
	<div class="form-group">
    	<label for="identification">Login</label>
    	<input type="text" class="form-control" name="username" id="username" placeholder="Username">
    </div>
    <div class="form-group">
    	<label for="password">Password</label>
    	<input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>
    {{!-- Checkbox to use manager function --}}
	<div class="checkbox">
    	<label>
    		<input id="manager" type="checkbox"> Manager View
    	</label>
    </div>
    <button type="button" class="btn btn-default" id="login">Login</button>
</form>

<script src="/assets/js/login.js"></script>