{{!-- Login Form --}}

<h1>Xspency</h1>

<form>
    <label for="identification">Login</label>
    <input type="text" name="username" id="username">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    {{!-- Checkbox to use manager function --}}
    <label for="managerView">Manager View</label>
    <input type="checkbox" name="managerView" id="manager">
    <button type="button" id="login">Login</button>
</form>

<script src="/assets/js/login.js"></script>
